/*
#table_control td {
  text-align: left;
  background-color: #87b9d8;
  color: black;
}
#table_control input {
  height: 14px; 
  width: 60px;
  text-align: right;
  background-color: #87b9d8;
}
*/

.compactimg td img {float:right;margin:0 0 0 14px;}

#table_current input { cursor: pointer; }

#table_current input { accent-color: #5b7b9b; }


#table_current .skillspan {
  display: inline-block;
  width: 25px;
  vertical-align: text-bottom;
}

#table_result button {
  width:200px;
  height: 19px;
  cursor: pointer;
}

#table_current th img {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}

#table_matchlist td {text-align: left;}
#table_matchlist tr td:nth-child(1) { width: 80px; }
#table_matchlist tr td:nth-child(2) { width: 100px; }
#table_matchlist tr td:nth-child(3) { width: 10px; }
#table_matchlist tr td:nth-child(4) { width: 100px; }
#table_matchlist tr td:nth-child(5) { width: 110px; text-align: center; }
#table_matchlist tr td:nth-child(6) { width: 50px; }
#table_matchlist tr td:nth-child(n+5) { padding: 0; }
#table_matchlist span { color: gray; size: 70%;}

#table_matchlist input {margin:0; padding:0; height:14px; width:20px; text-align: center}
#table_matchlist input.changed {background-color: lightblue;}
#table_matchlist span.spanresult { display: none;}
#table_matchlist .outcome {cursor: pointer;}
#table_matchlist .oddsreset {cursor: pointer;}
#table_matchlist .help {cursor: help;}
#table_matchlist .restype {cursor: pointer;}
#table_matchlist span.typeselected   {color: #222;}
#table_matchlist span.typeunselected {color: #999;}


#progressbar {
  background-color: #ccc;
  display: inline-block;
  width: 350px;
  text-align: center;
  height: 17px;
  vertical-align: bottom;
}

#progresslabel {
  width: 100%;
  float: left;
}

#progressbar .ui-progressbar-value {
  background-color: #6f6;
}

.help {
  color: #666;
  cursor: help;
  font-size: 85%;
}

#table_matchlist th {
  text-align: right;
  padding-right: 20px;
}

#explain {
  border: 1px solid #104470;
}

#explain p {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#helpdialog {
  border: 1px solid #104470;
  background: #ddd;
}

.ui-dialog-titlebar {
  color: white;
  background: rgb(16,51,93);
}


